@import "./App.css";


:root{
--theme-color:#885725;

}

/*-----------COMPONENTS COMPONENTS COMPONENTS COMPONENTS COMPONENTS COMPONENTS COMPONENTS ---------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 
}




/*------- NORMAL CSS NORMAL CSS  NORMAL CSS  NORMAL CSS  NORMAL CSS  NORMAL CSS  NORMAL CSS  ------*/



span {
  background: linear-gradient(#FFF, #FFF) no-repeat;
   background-position:top;
   background-size:100% 75%;
   color:#000;
}
.reverseSpan{
      background: linear-gradient(#000, #000) no-repeat;
   background-position:top;
   background-size:100% 75%;
}

nav{
    position:relative;
  
}
.stroke{

-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
}
.sideways{
    position:relative;
    transform-origin: top left;
    white-space: nowrap;
  transform: rotate(90deg);


}


   .hero-bg{
        background:url("portfolio-background-REAL.png");
        background-size:150% 50%;
        background-repeat:no-repeat;
        background-position:0px -150px;
    }
    .footer-bg{
        background:url("portfolio-background-REAL.png");
        background-size:150% 200%;
        background-repeat:no-repeat;
        background-position:0px 40px;
    }
    .divider{
        color:white;
        display:flex;
        align-items:center;
        
    }
      .divider::before,
  .divider::after {
    content: '';
    display: block;
    height: 0.09em;
    min-width: 30vw;
  }
  
  .divider::before {
    background: linear-gradient(to right, rgba(240,240,240,0), #fff);
    margin-right: 4vh;
  }
  
  .divider::after {
    background: linear-gradient(to left, rgba(240,240,240,0), #fff);
    margin-left: 4vh;
  } 


/*------------NAVIGATION---------------*/

        /* MENU ICON */
        .hamburger{
            cursor: pointer;
            width: 24px;
            height: 24px;
            transition: all 0.25s;
            position: relative;
        }
        .hamburger-top,.hamburger-middle,.hamburger-bottom{
            position: absolute;
            top:0;
            left:0;
            width: 24px;
            height: 7px;
            background-color: black;
            transform: rotate(0deg);
            transition: all 0.5s;
        }
        .hamburger-middle{
            transform: translateY(7px);
        }
        .hamburger-bottom{
            transform: translateY(14px);
        }
        .open{
            transform: rotate(90deg);
            transform: translateY(0px);

        }
        .open .hamburger-top{
            transform: rotate(45deg) translateY(6px) translate(6px)
        }
        .open .hamburger-middle{
            display: none;
        }

        .open .hamburger-bottom{
            transform: rotate(-45deg) translateY(6px) translate(-6px);
        }
       
        .mobileMenu
        {
            display:flex;
            position:absolute;
           
            transform:translateY(-1%);
            transition:transform 0.5s ease-in-out;
        }
      .isActive{
         background:yellow;
        }
      
        .hideMobileMenu{
           
            
            transform:translateY(-150%);
            transition:transform 0.5s ease-in-out;
         
        }
        
       

/*------------ABOUT ME-----------------*/
.matrixBack{
    background:url('portfolio-background-REAL.png');
    
    background-position-y:10%;
    background-repeat:no-repeat;
}

.portfolioTwo{
    background:url("dogwalkersite.png");
    background-position:20px;
    background-size:contain;
}
.portfolioThree{
    background:url("mobile-design.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
.portfolioFour{
    background:url("blog Layout.png");
}
.socialLinks li:nth-child(1){
background:url('./img/bxl-github.svg');
background-size:contain;
}
.blogs{
 background:#000;
     
        color:#fff;
    
        top:240px;
        width:100%;
        height:40%;
}


/*------------PORTFOLIO---------------*/
    .portfolioOne{
        background:url("fightcade.png");
        background-size:cover;
        background-repeat:no-repeat;
    }
    .portfolioTwo{
        background:url("kittybot.png");
        background-size:cover;

    }
    .portfolioThree{
        background:url("mobile-design.jpg");
        background-size:cover;
    }
    .portfolioFour{
        background:url(blog Layout.png");
        background-size:cover;
    }
    .portSiteDesc{
        background:#000;
        opacity:0.8;
        color:#fff;
        position:relative;
        top:240px;
        width:100%;
        height:40%;
    }
    .portSiteDesc p{
    padding-left: 0.25rem/* 4px */;
    padding-right: 0.25rem/
    }




/*---------------FOOTER----------------- */
.footerLinks{
    padding-left:10px;
    padding-right:10px;
}




/*--------------MED SCREEN SIZES ----------*/

@media (min-width:768px){
.hero-bg{
        background:url("portfolio-background-REAL.png");
        background-size:100% 60%;
        background-repeat:no-repeat;
        background-position:0px -450px;
    }
.sideways{
    position:relative;

  transform: rotate(90deg);
  white-space:no-wrap;
  transform-origin:top-left;
  writing-mode: horizontal-tb;

}

    .footer-bg{
        background:url("portfolio-background-REAL.png");
        background-size:100% 200%;
        background-repeat:no-repeat;
        background-position:0px 40px;
    }

}
    
/*--------------LARGE SCREENS-------------*/
@media (min-width: 1024px) { 

.hero-bg{
        background:url("portfolio-background-REAL.png");
        background-size:100% 60%;
        background-repeat:no-repeat;
        background-position:0px -450px;
    }


    
        /*About*/


    .matrixBack{
        background:url('portfolio-background-REAL.png');
        background-size:contain;
        background-position-y:45%;
        background-repeat:no-repeat;
    }

    .portSiteDesc{
        background:#000;
        opacity:0.8;
        color:#fff;
        position:relative;
        top:240px;
        width:100%;
        height:40%;
    }
    .portSiteDesc p{
    letter-spacing:0.017em;
    padding-left: 0.25rem/* 4px */;
    padding-right: 0.25rem;
    font-family: 'Teko', cursive;
    font-size:1.3rem;
    
    }
    .portSiteDesc h3{
        padding-top:10px;
    font-family: 'Bebas Neue', cursive;
    font-size:2rem;
    }

    /*portfolio*/
    .portSiteDesc{
        background:#000;
        opacity:0.8;
        color:#fff;
        position:relative;
        top:300px;
        width:100%;
        height:50%;
    }
    .portSiteDesc p{
    letter-spacing: 0.055em;
    line-height: 1.3rem; /* 12px */
    margin:5px;

    padding-left: 0.25rem/* 4px */;
    padding-right: 0.25rem;
    font-family: 'Teko', cursive;
    font-weight:300;
    font-size:1.5rem;
    }

    .portSiteDesc h3{
        padding-top:10px;
    font-family: 'Bebas Neue', cursive;
    font-size:2.5rem;
    }



    /*-----FOOTER------*/

    .hero-bg{
        background:url("portfolio-background-REAL.png");
        background-size:100% 120%;
        background-repeat:no-repeat;
        background-position:0px -320px;
    }
    .footer-bg{
        background:url("portfolio-background-REAL.png");
        background-size:50% 200%;
        background-repeat:repeat;
        background-position:0px 0px;
    }


}



